.about {
    width: 100%;
    font-size: 1.3rem;
    min-width: 360px;
    padding: 25px;
    text-align: justify;
    background-color: #fff;
}

.about .info {
    font-weight: bolder;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-line: underline;
    margin-bottom: 30px;
}

.about .info2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;


}



@media only screen and (max-width: 710px) {
    .about {
        font-size: 1rem;
    }
}