:root {
    --primary: #59ab07;
    --primary2: #4d8a0f;
    --default: white;
    --primary3: #80ff00;
}

.container{
    background-image: url(../images/foot-bg.jpg);
    padding: 20px 50px;
    min-width:100%;
    border: 2px solid var(--primary);
    border-left: none;
    border-right: none;
}

.accordion li{
    list-style-image: none;
}

.accordion-item{
    background-color: transparent;
}

.accordion-button{
    background-color: transparent;
    color: var(--primary);
    font-size: 1.2rem;
    border: none;
}

/* .accordion-button::after{
    color: red; 
    background-color: red;
    border: 1px solid red; 
} */

.accordion-button[aria-expanded="true"]{
    color: var(--primary3);
    background-color: transparent;
}

.accordion-body{
    color: var(--default);
}

.accordion-body ul li::marker{
    color: var(--primary);
}

.accordion-body code{
    color: var(--primary3);
    font-size: 1.05rem;
}

@media only screen and (max-width: 600px){
    .container{
        padding: 0;
    }
}

@media only screen and (max-width: 360px){
    .container{
        min-width: 360px;
    }
}