::-webkit-scrollbar{
    /* width: 1px; */
}

.navbar{
    position: fixed;
    right: 10px;
    top: 10px;
    width: 200px;
    z-index: 99;
}

.navbar--btn{
    position: sticky;
    top: 20px;
    width: 25px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 4px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.1s; 
}

.navbar--btn:hover{
    gap: 10px;
}

.navbar .active{
    gap: 4px 4px;
    padding: 6px ;
    border-radius: 50%;
}

.navbar--btn .span{
    display: inline-block;
    background-color: #59ab07;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    padding: 0;
    margin: 0;

} 


.navbar--links{
    background-color: rgb(192, 211, 228);
    z-index: -10;
    position: absolute;
    right: -200px;
}

.navbar--links--list{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    gap: 10px;
}

.navbar--links--list li{
    list-style: none;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #59ab07;
    transition: left 1s;
    /* margin: 0 auto; */
    cursor: pointer;
}

.navbar--links--list li:hover{
    color: red;
}

.navbar--links--list li:nth-child(1){
    transition-delay: 0s;
}

.navbar--links--list li:nth-child(2){
    transition-delay: 0.1s;
}

.navbar--links--list li:nth-child(3){
    transition-delay: 0.2s;
}

.navbar--links--list li:nth-child(4){
    transition-delay: 0.3s;
}
.navbar--links--list li:nth-child(5){
    transition-delay: 0.4s;
}
.navbar--links--list li:nth-child(6){
    transition-delay: 0.4s;
}

.navbar--links--list li{
    position: relative;
}