.nft{
    background-color: black;
    color: #fff;
    padding: 30px 100px;
   
}
.nft h1{
    text-align: center;
    margin-bottom: 50px;
}
.nft p{
    font-size: 1.05rem;
    word-spacing: 4px;
    text-align: justify;
}